@font-face {
    font-family: "Nightcore";
    src: url('./assets/fonts/Nightcore.ttf');
}

:root {
    --dark: #0d1725;
    --light: #f0f0f0;
    --primary: #92cccc;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: var(--dark);
    background-image: url("./assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 1920px;
}

h1 {
    font-family: 'Nightcore', sans-serif;
    color: var(--light);
    font-size: 50px;
}

header {
    display: flex;
    flex-direction: column;
}

form {
    display:flex;
    flex-direction:row;
    border: 2px solid var(--primary);
    padding:1px;
    height: 40px;
    width: 85%;
    border-radius: 50px;
    transform: scale(1);
    transition: transform .5s;
}

form:focus-within { 
    transform: scale(1.05);
}

input {
    flex-grow:2;
    border:none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: rgba(255, 255, 255, .25);
    color: var(--light);
    padding-left: 10px;

    font-size: 16px;
    font-weight: 700;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: var(--dark);
    margin-left: 15px;
}

.statusCard button {
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, .25);
    font-size: 22px;
    color: #1a2e49;

    padding: 0 15px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

    transition: color .5s;
}

.statusCard button:hover {
    color: var(--light);
}

.batLeft {
    cursor: pointer;
    position: absolute;
    top: 120px;
    left: 375px
}

.batRight {
    cursor: pointer;
    position: absolute;
    top: 300px;
    right: 700px
}

/* Bouton du lancement */
.launchBtn {
    border: 5px solid var(--primary);
    border-radius: 15px;
    padding: 25px 50px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    font-size: 25px;
    color: var(--light);
}

.launchBtn:hover {
    cursor: pointer;
    animation: in-out 1s infinite alternate;
}

.inactive {
    display: none;
}

.active {
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 700px;
    height: 900px;
    background-color: rgba(255, 255, 255, .25);
    border-radius: 15px;

    display: grid;
    grid-template-rows: 100px 100px 585px 100px;

    backdrop-filter: blur(6px);
}

.status, .statusCard {
    display: flex;
    justify-content: center;
}

.statusCard {
    width: 50%;
    margin: 15px 0;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
}

.life, .bone {
    width: 30px;
    height: 30px;
}

.key {
    cursor: pointer;

    width: 40px;
    height: 40px;
    font-size: 20px;

    justify-self: center;

    background-color: var(--primary);
    color: var(--dark);
    border-radius: 50%;
    border: 1px solid var(--dark);

    transition: font-size .2s ease-in, background-color .2s, color .2s;
}

.key:hover {
    background-color: var(--dark);
    color: var(--light);
    font-size: 25px;
}

.zombie {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: inherit;
    min-height: 600px;
}

.letter {
    margin: 0 7px;
    color: var(--light);
    font-size: 50px;
}

.hiddenWord {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Animation */
@keyframes in-out {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

.disabled {

    width: 40px;
    height: 40px;
    font-size: 20px;

    justify-self: center;

    background-color: silver;
    color: var(--light);
    border-radius: 50%;
    border: 1px solid var(--light);
}